.lead__caption {
  margin: 0;
  padding: 0;
  max-width: 158px;
  margin-top: 8px;
  height: auto;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-style: normal;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.15em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}
